<!--  -->

<div class="container-home">
    <div class="content-home">
      <h1>Lista de alunos do curso</h1>

      <div class="filter-form">
        <div>
          <label htmlFor="nome">Pesquisar</label>
          <input
            type="text"
            id="nome"
            placeholder="Nome do aluno"
          />
        </div>
        <div>
          <label htmFor="nascionalidade">Nascionalidade</label>
          <select
            name="nascionalidade"
            id="nascionalidade"
            title="."
          >
            <option value="">Todas</option>
          </select>
        </div>
      </div>

      <table class="table-content">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Sexo</th>
            <th>Nascionalidade</th>
            <th>Ação</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Leonardo Santos</td>
            <td>Masculino</td>
            <td>Brasileiro</td>
            <td>
              <button>Visualizar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
