<!--  -->

<div class="container-home">
  <app-navbar></app-navbar>

    <div class="content-home">
      <h1>Lista de alunos do curso</h1>

      <form [formGroup]="searchForm">
        <div class="filter-form">
          <div>
            <label htmlFor="nome">Pesquisar</label>
            <input
              type="text"
              id="nome"
              placeholder="Nome do aluno"
              formControlName="nameStudent"
              (keyup)="searchName('name')"
            />
          </div>
          <div>
            <label htmlFor="nascionalidade">Nascionalidade</label>
            <select
              name="nascionalidade"
              id="nascionalidade"
              title="."
              formControlName="nationality"
              (change)="searchName('nation')"
            >
              <option value="">Todas</option>
              <ng-container *ngFor="let nation of dataUser">
                <option [value]="nation.location.country">{{nation.location.country}}</option>
              </ng-container>
            </select>
          </div>
        </div>
      </form>

      <table class="table-content">
        <ng-container *ngIf="!loading && !error">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Sexo</th>
              <th>Nascionalidade</th>
              <th>Ação</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let user of (dataUser | arrayFiltro : filter : typeFilter)">
              <td>{{ user.name.first }} {{ user.name.last }}</td>
              <td>{{ user.gender }}</td>
              <td>{{ user.location.country }}</td>

              <td>
                <button (click)="openModal(user)">Visualizar</button>
              </td>
            </tr>
          </tbody>
        </ng-container>

        <ng-container *ngIf="loading">
          <p>Carregando...</p>
        </ng-container>

        <ng-container *ngIf="!loading && error">
          <h1>Ops! Algo deu errado.</h1>
          <button>Recarregar!</button>
        </ng-container>
      </table>
    </div>
</div>
